<h1>Update Figure</h1>

<form action="/figures/<%=@figure.id%>" method="post">

  <label>Figure Name:</label>
  <br></br>
  <label>name:</label>
  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>"></input>
  <br></br>

  <label>New Title Name:</label>
  <br></br>
  <label>name:</label>
  <input  type="text" name="title[name]" id="new_title"></input>
  <br></br>

  <label>New Landmark Name:</label>
  <br></br>
  <label>name:</label>
  <input  type="text" name="new_landmark" id="landmark[name]"></input>
  <br></br>

  <% Title.all.each do |title| %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%=title.name%></input>
  <% end %>
  <br></br>

  <% Landmark.all.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%=landmark.name%></input>
  <% end %>
  <br></br>

  <input type="submit" value="Edit Figure" name="Edit Figure" id="Edit Figure">

</form>
