<h1>Create a new Figure</h1>

<form action="/figures" method="POST">

  <label>Figure Name:</label>
  <br></br>
  <label>name:</label>
  <input type="text" name="figure_name" id="figure[name]"></input>
  <br></br>

  <label>New Title Name:</label>
  <br></br>
  <label>name:</label>
  <input  type="text" name="new_title" id="title[name]"></input>
  <br></br>

  <label>New Landmark Name:</label>
  <br></br>
  <label>name:</label>
  <input  type="text" name="new_landmark" id="landmark[name]"></input>
  <br></br>

  <% Title.all.each do |title| %>
    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%=title.name%></input>
  <% end %>
  <br></br>

  <% Landmark.all.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%=landmark.name%></input>
  <% end %>
  <br></br>

  <input type="submit" value="Create New Figure" name="Create New Figure" id="Create New Figure">

</form>
